/** @format */

#link-search {
    float: right;
    max-width: 320px;
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    outline: none;
}
.fa-plus {
    background: transparent;
    font-size: 0.8rem;
    outline: none !important;
    position: relative;
    top: -1px;
    margin-right: 0.3rem;
}

#contentBody {
    overflow-y: auto;
}