/** @format */

.card-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
}

.card-link {
    font-weight: 600;
}

.btn-toggle {
    background: transparent;
    font-size: 0.8rem;
    outline: none !important;
}

.floater {
    float: left;
}

.col-md-12 {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
}

.link-desc-group textarea {
    height: 60px;
}

.update-link-btn {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    margin-bottom: -20px;
}
