#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #20232a;
    color: #DDDDDD;
    
}

/* col component */
#footer .col {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
}