/* container component */
#header {
    background-color: #20232a;
    color: #DDDDDD;
    
}

/* left col component */
#logo {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: flex-start;
}

/* right col component */
#info {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: flex-end;
    text-align: right;
}

.nav-welcome {
    padding: 0.5rem 1rem;
}

.nav-link { 
    color: #DDDDDD;
}

.nav-link:hover { 
    color: #FFFFFF;
}

.nav-link:last-child { 
    padding-right: 0;;
}

#webkey-logo {
    width: 90px;
}

#webkey-logo-label {
    margin-left: 20px;
}