#sidebar {
    background: #F7F7F7;
    height: 100%;
    padding: 40px 30px;
    margin-bottom: 70px;
}

.col-pixel-width-400 {
    flex: 0 0 400px !important;
}

#title {
    display: flex;
    justify-content: space-between;
}