/** @format */

#sidebar {
    background: #f7f7f7;
    height: 82vh;
    padding: 40px 30px;
    margin-bottom: 70px;
    overflow-y: auto;
}

.col-pixel-width-400 {
    flex: 0 0 400px !important;
}

#title {
    display: flex;
    justify-content: space-between;
}
